<div class="enterdatawhole">
  <div class="enterdatahead">
    <h1>Enter your data</h1>
  </div>
  <div class="enterdatabody">
    <form {{action "submitData" duration distance on="submit"}}>
      <label for="">Enter your starting date and time</label>
      {{input type="datetime-local" name="starttime" value=starttime }}
      <label for="">Enter your duration of running</label>
      {{input type="text" name="duration" value=duration }}
      <label for="">Enter your distance travelled</label>
      {{input type="text" name="distance" value=distance }}
      <button type="submit" id="datasubmit">Submit</button>
    </form>
  </div>
</div>
