<form {{action 'submitData' durationgoal distancegoal on="submit"}}>
    <div id="wholegoals">
        <div class="goalhead">
            <h1>Set your Goals</h1>
        </div>
        <div class="goalbody">
            <label for="">Enter your duration goal</label>
            {{input type="text" name="durationgoal" value=durationgoal class="inputbox"}}
            <label for="">Enter your distance goal</label>
            {{input type="text" name="distancegoal" value=distancegoal class="inputbox" }}
            <button type="submit" id="goalsubmit">Submit</button>
        </div>
    </div>
</form>
